*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
server/config.production.json
server/datasources.production.json
server/utility/external-api.production.json
server/utility/consuming-api.production.json
server/config/webhook-config.production.json
server/credentials/module-creds.production.json
server/credentials/prime-creds.production.json
server/credentials/creds.production.json